/* Base Styles--------------------*/
* {
    box-sizing: border-box;
}

body {
    background-color: #EDEEEF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    width: 768px;
    border: black solid 1px;

}


/* Web Fonts--------------------*/
p {
    font-family: 'Indie Flower', cursive;
}

h1, h2, h3, h4, li {
    font-family: 'Cinzel Decorative', cursive;   
}

/* Navigation Styles and Display--------------------*/
li a {
    text-decoration: none;
    border: solid #F4F6F8 1px; 
    background-color: #F4F6F8;
    border-radius: 3px;
    display: block; 
    padding: 20px;
    width: auto;
    margin-bottom: 7px;
    color: black;
    }

li a:hover {
        color: #7C7D7F;
}    
    
 
ul {
    padding-left: 15px;
    padding-right: 15px;
   
}    

nav ul { 
    list-style-type: none;
    text-align: center;
    
}

.name {
    font-size: 1.5rem; /* 16*2=32px */
    margin-bottom: 2em;
    padding-top: 20px;
}

/* Header Styles--------------------*/

#tag {
    margin: 30px auto;
    border: solid #E1E2E3 2px;
    width: 65%;
    display: block;
}

#tag-p {
    padding-bottom: 28px;
    
}


/* Main Styles--------------------*/

.proto-img {
    display: block;
    margin: auto;
    width: 300px;
}

p,
h2,
h1,
h4,
address {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

}

h2, h1 {
    font-size: medium;
}

#calc {
    padding-bottom: 75px;
}

h2 {
    padding-top: 25px;
    padding-bottom: 5px;
}


#contact {
    padding-top: 60px;
    padding-bottom: 20px;
}

.main-p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    
}

#portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
}

strong {
    float: left;
    padding-bottom: 20px;
}

.back-to-top {
    float: right;
    text-decoration: none;
    color: black;    
}

.back-to-top:hover,
.email:hover {
    color: #7C7D7F;
}


main{
    background-color: #F4F6F8;
}


/* Media Query--------------------*/

@media (min-width: 768px) {
    nav, ul, li {
        display: inline-block;
    }

    .name {
        display: block;
    }

    li a {
        border: none;
        background-color: #EDEEEF;
    }

    #tag {
        float: right;
        width: 40%;
        margin: 0;
        margin-right: 30px;
        margin-left: 30px;
    }

    #tag-p {
        font-size: 1.5rem;
    }
    
   .primary {
       float: left;
       width: 50%;
   }
  
  .secondary {
      float: right;
      width: 50%;
  }

  

    .third {
        float: left;
        width:50%;
    }
 
   main {
       min-height: calc(100vh - -90px);

   }

   .proto-img {
       width: 375px;
   }
}







/* Float Clearfix--------------------*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
